<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE NEWS OF VALORANT</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'newsvalorant.css')}}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Mulish:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/valorant_photos/icons8-valorant-48.png" type="image/x-icon"/>
</head>
<body>
    {% include "/includes/navbarandfooter.html" %}
    <header class="weareheader">
        
        <div class="background">
            <p>WE ARE <br> <span class="valorant">VALORANT</span> </p>
        </div>
        <div class="news"><p>THE CURRENT NEWS</p></div>
        <!--CAROUSAL SLIDER-->
        <div class="slider">
        <div class="slides">
            
            <div class="new1 s1">
                <img src="/static/valorant_photos/newsvalo.jpeg">
                <span>12/07/21</span>
                <div class="interrelated">
                <span>Arrangements about Valorant gameplay.</span>
                <p>The new map has been released.</p>
                </div>
            </div>
            <div class="new1">
                <img src="/static/valorant_photos/newsvalo.jpeg">
                <span>12/07/21</span>
                <div class="interrelated">
                <span>Lorem ipsum dolor sit amet.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dolores?</p>
                </div>
            </div>
            <div class="new1">
                <img src="/static/valorant_photos/newsvalo.jpeg">
                <span>12/07/21</span>
                <div class="interrelated">
                <span>Lorem ipsum dolor sit amet.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dolores?</p>
                </div>
            </div>
            <div class="new1">
                <img src="/static/valorant_photos/resimvalonews.jpeg">
                <span>12/07/21</span>
                <div class="interrelated">
                <span>Lorem ipsum dolor sit amet.</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, dolores?</p>
                </div>
            </div>
            <div class="slidecontrols">
                <button id="previcon">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <button id="nexticon">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
        </div>
        
    </header>
    <section id="newsection">
        <div class="blackblock"></div>
        <div class="titlenews">
            <p>NEWS</p>
        </div>
    <div class="allnews">
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews">
            <div class="imaj"></div>
            <div class="writes">
                <h5>10/05/2021</h5>
                <p class="firstp">VALORANT PATCH NOTES 2.09</p>
                <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
                <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
        <div class="scrollednews"><div class="imaj"></div>
        <div class="writes">
            <h5>10/05/2021</h5>
            <p class="firstp">VALORANT PATCH NOTES 2.09</p>
            <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
            <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
        </div></div>
        <div class="scrollednews">
        <div class="imaj"></div>
        <div class="writes">
            <h5>10/05/2021</h5>
            <p class="firstp">VALORANT PATCH NOTES 2.09</p>
            <p class="secp">Viper's instant decay is nerfed, tacticial timeouts for custom games, and Replication game mode goes live.</p>
            <a href="#">examine this content <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    </div>
    </section>
    {% block footerblock %}
    <div class="footer">
        <span class="downloader">Download game</span>
        <img src="/static/valorant_photos/riotengine.png">
        <div class="sociallogos">
            <a href="https://twitter.com/valoranttr" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/VALORANTtr/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCZfOWuGRCBIW75310IXrrtg" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://discord.com/invite/6aTVuEB" target="_blank"><i class="fab fa-discord"></i></a>
            <a href="https://www.instagram.com/valoranttr/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <span class="footerwrite">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas iure numquam amet commodi nemo, quasi consequatur nulla necessitatibus accusantium eligendi exercitationem eum at veritatis velit!</span>
        <div class="policies">
            <span>privicy policy</span>
            <span>Terms of service</span>
            <span>Company information</span>
            <span>Cookie preferences</span>
        </div>
    </div>
    {% endblock footerblock %}
    <script src="/static/newsvalo.js"></script>
</body>
</html>