<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant maps</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'valorantmaps.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="/static/valorant_photos/icons8-valorant-48.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

</head>
<body>
  {% include "/includes/navbarandfooter.html" %}
    <section id="infosaboutmaps">
    <div class="parallax">
        <div class="container">
          
        </div>
        <div class="containerboxes">
            <div class="box1">An open playground for small wars of position and attrition divide two sites on Ascent. Each site can be fortified by irreversible bomb doors; once they’re down, you’ll have to destroy them or find another way. Yield as little territory as possible.</div>
            <div class="box2">Controlling the middle on this map is the most important goal for both teams to be successful in defending or taking the zones. There are two trap doors that are a brand new mechanic in the VALORANT world.</div>
        </div>
        <h2>SOME PICTURES ABOUT ASCENT</h2>
        <div class="carousel">
            <i class="fas fa-arrow-left fa-2x" id="previous"></i>
            <div class="carousel__images">
              <img src="{{url_for('static',filename = 'valorant_photos/Ascent_Map.png')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/ascent2.png')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/ascent.jpeg')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/ascentdraw.png')}}">
            </div> 
            <i class="fas fa-arrow-right fa-2x" id="next"></i>
        </div>
    </div>
    <div class="parallax">
        <div class="header">SPLIT</div> 
        <div class="container2"></div>
        <div class="containerboxes">
            <div class="box1">If you want to run away, you have to go up. The central point, rising in the middle of several different intermediates, allows two riser ropes to move quickly. There are two giant towers that are vital to be able to control each. May your eyes stay on what can come from the skies.</div>
            <div class="box2">Split is now a Japanese city where Kingdom has transformed the daily life of the people, increasing its ecological footprint, from top to bottom. This new direction made the courtyards and narrow streets in the city very well aligned with the layout of the map, helping to capture futuristic moments that offer a visual feast.</div>
        </div>          
        <h2>SOME PICTURES ABOUT SPLIT</h2>
        <div class="carousel">
            <i class="fas fa-arrow-left fa-2x" id="previous"></i>
            <div class="carousel__images2">
              <img src="{{url_for('static',filename = 'valorant_photos/split1.jpeg')}}"> 
              <img src="{{url_for('static',filename = 'valorant_photos/split2.png')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/split3.jpeg')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/splitinfo.jpeg')}}">
            </div>
            <i class="fas fa-arrow-right fa-2x" id="next"></i>
        </div>
    </div>
    <div class="parallax">
        <div class="header">BIND</div> 
        <div class="container3"></div>
        <div class="containerboxes">
            <div class="box1">There are two zones. It has no middle. You will choose either the right or the left. Well, is that all? Of course not! Both sides have paths that attackers can use and one-way teleporters to help hit opponents from behind.</div>
            <div class="box2">VALORANT's Bind map is a fast paced action and player map with two zones.Teleport stations located in close proximity with both bombs allow the stars to make arbitrary maneuvers to attack or defend the bomb sites.</div>
        </div>
        <h2>SOME PICTURES ABOUT BIND</h2>
        <div class="carousel">
            <i class="fas fa-arrow-left fa-2x" id="previous"></i>
            <div class="carousel__images3">
              <img src="{{url_for('static',filename = 'valorant_photos/bind1.png')}}"> 
              <img src="{{url_for('static',filename = 'valorant_photos/bind2.png')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/bind3.jpeg')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/bindinfo.jpeg')}}">
            </div>
            <i class="fas fa-arrow-right fa-2x" id="next"></i>
        </div>
    </div>
    <div class="parallax">
        <div class="header">ICEBOX</div> 
        <div class="container4"></div>
        <div class="containerboxes">
            <div class="box2">The next battlefield is a secret Kingdom excavation site where the polar cold reigns. The two Spike placement sites are protected by snowdrifts and chunks of metal, emphasizing the importance of sniping prowess. You can collapse on enemies in an instant by using the steel ropes to your advantage.</div>
            <div class="box1">Icebox consists of a fast-skirmish rotating Middle zone, an extremely height-oriented A zone and a large B zone. So it is actually a map with 3 corridors as we know it.</div>
        </div>
        <h2>SOME PICTURES ABOUT ICEBOX</h2>
        <div class="carousel">
            <i class="fas fa-arrow-left fa-2x" id="previous"></i>
            <div class="carousel__images4">
              <img src="{{url_for('static',filename = 'valorant_photos/icebox1.jpeg')}}"> 
              <img src="{{url_for('static',filename = 'valorant_photos/icebox2.jpeg')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/icebox3.png')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/iceboxinfo.png')}}">
            </div>
            <i class="fas fa-arrow-right fa-2x" id="next"></i>
        </div>
    </div>
    <div class="parallax">
         <div class="header">HAVEN</div> 
        <div class="container5"></div>
        <div class="containerboxes">
            <div class="box1">Clashing in the courtyard of an abandoned monastery, agents are eating each other to take control of all three areas. There are many areas to control, but the extra building that defenders can capture could be useful so they can spray more aggressively.</div>
            <div class="box2">Haven is the only map that contains three bomb sides in Valorant. Therefore, teams, especially T team, can play really aggressively. The characters who have view abilities can be usefull in this map.</div>
        </div>
        <h2>SOME PICTURES ABOUT HAVEN</h2>
        <div class="carousel">
            <i class="fas fa-arrow-left fa-2x" id="previous"></i>
            <div class="carousel__images5">
              <img src="{{url_for('static',filename = 'valorant_photos/haven1.png')}}"> 
              <img src="{{url_for('static',filename = 'valorant_photos/haven2.png')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/haven3.jpeg')}}">
              <img src="{{url_for('static',filename = 'valorant_photos/haveninfo.png')}}">
            </div>
            <i class="fas fa-arrow-right fa-2x" id="next"></i>
        </div>
    </div>
    <div class="parallax">
        <div class="header">BREEZE</div> 
       <div class="container6"></div>
       <div class="containerboxes">
           <div class="box1">Clashing in the courtyard of an abandoned monastery, agents are eating each other to take control of all three areas. There are many areas to control, but the extra building that defenders can capture could be useful so they can spray more aggressively.</div>
           <div class="box2">Haven is the only map that contains three bomb sides in Valorant. Therefore, teams, especially T team, can play really aggressively. The characters who have view abilities can be usefull in this map.</div>
       </div>
       <h2>SOME PICTURES ABOUT BREEZE</h2>
       <div class="carousel">
           <i class="fas fa-arrow-left fa-2x" id="previous"></i>
           <div class="carousel__images6">
            <img src="{{url_for('static',filename = 'valorant_photos/breeze1.jpeg')}}"> 
            <img src="{{url_for('static',filename = 'valorant_photos/breeze2.jpeg')}}">
            <img src="{{url_for('static',filename = 'valorant_photos/breeze3.jpeg')}}">
            <img src="{{url_for('static',filename = 'valorant_photos/breezeinfo.jpeg')}}">
           </div>
           <i class="fas fa-arrow-right fa-2x" id="next"></i>
       </div>
   </div>
    </section>
    {% block footerblock %}
    <div class="footer">
        <span class="downloader">Download game</span>
        <img src="/static/valorant_photos/riotengine.png">
        <div class="sociallogos">
            <a href="https://twitter.com/valoranttr" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/VALORANTtr/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCZfOWuGRCBIW75310IXrrtg" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://discord.com/invite/6aTVuEB" target="_blank"><i class="fab fa-discord"></i></a>
            <a href="https://www.instagram.com/valoranttr/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <span class="footerwrite">It is strongly advised that Valorant's right of privacy is respected and content is not stolen!</span>
        <div class="policies">
            <span>privicy policy</span>
            <span>Terms of service</span>
            <span>Company information</span>
            <span>Cookie preferences</span>
        </div>
    </div>
    {% endblock footerblock %}
</body>
<script>
const carouselImages = document.querySelector('.carousel__images');
const carouselImages2 = document.querySelector('.carousel__images2');
const carouselImages3 = document.querySelector('.carousel__images3');
const carouselImages4 = document.querySelector('.carousel__images4');
const carouselImages5 = document.querySelector('.carousel__images5');
const carouselImages6 = document.querySelector('.carousel__images6');


const numberOfImages = document.querySelectorAll('.carousel__images img').length;
const numberOfImages2 = document.querySelectorAll('.carousel__images2 img').length;
const numberOfImages3 = document.querySelectorAll('.carousel__images3 img').length;
const numberOfImages4 = document.querySelectorAll('.carousel__images4 img').length;
const numberOfImages5 = document.querySelectorAll('.carousel__images5 img').length;
const numberOfImages6 = document.querySelectorAll('.carousel__images6 img').length;

/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/

var w = screen.width;


const carouselButtons = document.querySelectorAll('.fas');

let imageIndex = 1;
let translateX = 0;

carouselButtons.forEach(button => {
  button.addEventListener('click', (event) => {
    if (event.target.id === 'previous') {
      if (imageIndex !== 1) {
        imageIndex--;
        translateX += 25;
      }

    } 
    else {
      if (imageIndex !== numberOfImages) {
        imageIndex++;
        translateX -= 25;
      }
    }
    
    carouselImages.style.transform = `translateX(${translateX}%)`;
    carouselImages2.style.transform = `translateX(${translateX}%)`;
    carouselImages3.style.transform = `translateX(${translateX}%)`;
    carouselImages4.style.transform = `translateX(${translateX}%)`;
    carouselImages5.style.transform = `translateX(${translateX}%)`;
    carouselImages6.style.transform = `translateX(${translateX}%)`;
    
  });
});
/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/

</script>
</html>