*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: #E94152;
}
.logo{
    height: 70px;
    width: 70px;
    background-size: cover;
}
.logo .image{
    height: 100%;
    width: 100%;
    
}
.wrapper{
    background: #101923;
    position: fixed;
    width: 100%;
    z-index: 5;
    
}
.navbar .contento .links li a, .navbar .contento .links li label{
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 9px 17px;
    
}

.contento .links li a:hover{
    background: #E94152;
}
.navbar .contento .links li #worldicon{
    color: #fff;
    
}
.wrapper .navbar{
    max-width: 90%;
    margin:0 auto;
    height: 70px;
}

.navbar .contento{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .contento .links{
    margin-left: 80px;
    display: flex;
}
.contento .links li{
    list-style: none;
    line-height: 70px;
}
.wrapper #hbutton{
    cursor: pointer;
}
.wrapper #hbutton{
    display: none;
}


/*dropdown navbar styling*/
.contento .links ul{
    position: absolute;
    background: #0F1923;
    width: 100px;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.contento .links li:hover ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    
}

.contento .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
}



#worldicon, #hbutton{
    color: #fff;
    
}
@media screen and (max-width:1100px){
    .wrapper .navbar{
        max-width: 100%;
        padding: 0 20px;
        
    }
    .contento .links ul li a{
    font-size: 20px;
}
    .navbar .contento .links{
        margin-left: 30px;
    }
    .contento .links li a{
        padding: 8px 13px;
        
    }
}

.footer{
    width: 100vw;
    height: 400px;
    background-color: #101923;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: black;
    bottom: 0;
    overflow-x: hidden;
}
.downloader{
    font-size: 1.2rem;
    position: absolute;
    top: 10%;
    cursor: pointer;
    transition: 0.3s;
}
.downloader:hover{
    color: #fff;
}
.footer img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    
}
.sociallogos{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    
}
.sociallogos a{
    color: black;
    transition: 0.3s;
}
.sociallogos a:hover{
    color: #fff;
}
.footerwrite{
    width: 900px;
    font-size: 15px;
    text-align: center;
    margin-top: 2%;
}
.policies{
    position: absolute;
    bottom: 5%;
    width: 500px;
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}
.policies span{
    cursor: pointer;
}
@media screen and (max-width:900px){
    .navbar .contento .links{
        display: block;
        position: fixed;
        background: #0F1923;
        height: 100%;
        width: 100%;
        top: 70px;
        right: -100%;
        margin-right: 0;
        max-width: 350px;
        text-align: center;
        transition: all 0.3s ease;
        overflow-y: auto;
    }
    
    .contento .links li a, .contento .links li label{
        line-height: 30px;
        font-size: 15px;
        display: block;
        /* padding: 8px 13px; */
        margin-bottom: 2px;
    }
    .contento #hbutton{
        display: block;
    }
    
    /*DROPDOWN MENU STARTING*/
    .contento .links ul{
        position: static;
        opacity: 1;
        visibility: visible;
        width: 100%;
        display: none;
    }
    .contento .links li{
        margin: 15px 20px;
    }
    .contento .links ul li{
        margin: 7px 20px;
        background: #111;
    }
    .content .links li a{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
    }
    .downloader{
        font-size: 1.5rem;
        position: absolute;
        top: 8%;
        cursor: pointer;
        transition: 0.3s;
    }
    .footerwrite{
        display: none;

    }
    
    .footer img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        cursor: pointer;
        transform: translateY(-30px);
    }
    .sociallogos{
        width: 300px;
        display: flex;
        justify-content: space-around;
        transform: translateY(30px);
        
    }
    .policies{
        width: 100vw;
        justify-content: space-around;
    }
    .policies span{
        text-align: center;
    }
}